@import "settings";
@import "foundation";

// Variables
$light-yellow: #fce192;
$yellow: #fec425;
$dark-yellow: #d79a27;
$rule-gray: #dcddde;
$light-gray: #ededed;
$medium-gray: #b0b0b0;
$medium-dark-gray: #666;
$dark-gray: #444;
$orange: #e68600;
$dark-orange: #c05600;
$blue: #69bad9;
$blue-social: #cde4ed;
$dark-blue: #0077ad;
$dark-blue-social: #1179ab;
$green: #aab464;
$dark-green: #5a9664;

$normal: 400;
$semibold: 600;
$bold: 700;

/* Custom Styles */
.uppercase { text-transform: uppercase; }
.media {margin:10px;}
.media, .media__body {overflow:hidden; _overflow:visible; zoom:1;}
.media .media__img {float:left; margin-right: 10px;}
.media .media__img img{display:block;}
.media .media__img--ext{float:right; margin-left: 10px;}
a:hover { text-decoration: underline !important; }
.img-responsive {
  width: 100%;
  height: auto;
}
.desaturate {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.4444 0.4444 0.4444 0 0 0.4444 0.4444 0.4444 0 0 0.4444 0.4444 0.4444 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray; /* IE6-9 */
  //-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
  -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}
.desaturate:hover {
  //@include prefixed(filter, grayscale(0%));
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  //-webkit-filter: grayscale(0%);
}
.news-heading {
  color: $dark-orange;
  font-weight: $bold;
  font-size: 18px;
  line-height: 24px;
}
body {
  background-image: url('../img/parts/bg-gradient.jpg');
  background-repeat: repeat-x;
  color: $dark-gray;
  @media #{$small-only} {
    background-position: 0 12px;
  }
}
.site-name {
  margin-top: 65px;
  font-size: 28px;
}
.vcard {
  border: none;
  font-style: normal;
  font-size: 13px;
  padding-left: 0;
}
.vcard .fn {
  font-size: 13px;
}

.content {
  background-color: #fff;
}

.top-bar {
  text-align: center;
}
.top-bar-section {
  display: inline-block;
}
.top-bar-section>ul>li>a {
  color: #fff;
  text-transform: uppercase;
  padding-left: 1.1rem !important;
  padding-right: 1.1rem !important;
}
.top-bar-section ul li>a {
  font-size: 1.2vw;
}

.wordmark {
  margin-left: -15px;
  margin-top: 5px;
  width: 213px;
  max-width: 213px;
  @media #{$small-only} {
    margin-left: 0;
  }
}
.wordmark-wrapper {
  @media #{$small-only} {
    text-align: center;
  }
}

.audience-row {
  font-weight: $semibold;
  a {
    color: $dark-gray;
  }
}

.audience-nav {
  margin-top: 76px;
  @media #{$medium-only} {
    margin-top: 15px;
  }
}
.audience-nav > ul > li {
  margin-left: 1.5rem;
}
.audience-nav > ul > li > a {
  font-size: 12px;
}
.uwo-search {
  margin-top: 18px;
}
.uwo-search > ul > li > a {
  font-size: 12px;
}

/******************************************************************
NAV DRAWERS
******************************************************************/
.nav-info {
  display: none;
  position: absolute;
  z-index: 9999;
  width: 100%;
}
.drawer__row {
  padding-top: 16px;
  padding-bottom: 16px;
}
/******************************************************************
END NAV DRAWERS
******************************************************************/

/******************************************************************
FOOTER
******************************************************************/
.footer__contact-info__wrap {
  position: absolute;
  left: 50%;
  bottom: 16px;
}
.footer__contact-info {
  position: relative;
  left: -50%;
  color: #fff;
}
.tagline {
  min-height: 32px;
  font-size: 16px;
  background-color: $dark-gray;
  color: #fff;
  text-transform: uppercase;
  padding: 9px 0;
  text-align: center;
}
.footer-container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $medium-gray;
  color: $medium-dark-gray;
  a {
    color: $medium-dark-gray;
  }
}
.vcard {
  line-height: 19px;
}
.footer__icon--uw-system {
  margin-left: -13px;
}
.app-icon {
  width: 32px;
  height: 32px;
}
.app-icon--footer {
  margin-bottom: 15px;
}
.wismap {
  width: 124px;
}
.college-portrait-logo {
  padding-top: 59px;
}
/******************************************************************
END FOOTER
******************************************************************/

/******************************************************************
FIXES/HACKS
******************************************************************/
.top-bar-section .dropdown li a {
  background: #333 !important;
}
/******************************************************************
END FIXES/HACKS
******************************************************************/
