@media (min-width: 1200px) {
  .navbar {
    border-radius:0
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.navbar {
  margin-bottom: 5px;
}
ul.nav.navbar-nav {
  font-size: 17px;
  text-transform: uppercase;
}
ul li#titanServicesLink.titan_servicesNav {
  position: relative;
  padding-right: 0;
  height: inherit;
}
#portal-footer {
  margin-top: 0;
  margin-bottom: 0;
}
#portal-footer-wrapper {
  background-color: #444;
}
#uwoshFooter-wrapper {
  background-color: #b0b0b0;
}
#content {
  font-size: 16px;
}